<!-- _footer.html.erb -->

<footer class="site-footer section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12 mb-4 pb-2">
        <a class="navbar-brand mb-2" href="/tasks">
        <span>Task List</span>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <h4 class="site-footer-title">Links</h4>
        <ul class="site-footer-links">
          <li class="site-footer-link-item"><a href="/tasks" class="site-footer-link">Tasks</a></li>
          <li class="site-footer-link-item"><a href="/tasks/new" class="site-footer-link">New Task</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
